*{
    margin:5;
    padding:5;
}
body{
    color:#55555F;
    background-color: paleturquoise;;

}

.box1{
    background-color: yellow;
    letter-spacing: 0.1em;
    font-style:initial;
}
.box2{
    background-color: lawngreen;
    border:5px dotted blueviolet;
    color: coral;
    border-radius: 5px;
}
